body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #ff8c00, #ffcc00);
    text-align: center;
    margin: 0;
    padding: 0;
}

h2{
    margin-top: 50px;
    color: #1a1a1a;
}

button{
    background-color: #0b3d91;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.3s;
}

button:hover{
    background-color: #062c6b;
    transform: scale(1.05);
}

/* container dos personagens */
#personagem{
    margin: 40px auto;

    display: flex;
    justify-content: flex-start; /* centraliza */
    gap: 20px;

    overflow-x: auto; /* permite rolar pro lado */
    padding: 20px;

    max-width: 90%;
}

/* cada personagem */
.card{
    min-width: 250px;
    background: rgb(223, 189, 189);
    padding: 25px;
    margin-left:30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);

    text-align:center;
}

/* imagem */
.card img{
    width: 200px;
    height: 400px;
    margin-top: 10px;
    margin-left: 20px;
}

/* nome */
.card h2{
    margin: 10px 0;
}
.super{
    border: 3px solid red;
}